body {
    background-color: #8ecae6;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #219ebc;
    width: fit-content;
    padding: 50px;
}

h1, 
h3 {
    text-align: center;
    color: #FFF;
}


input {
    display: flex;
}

#newNames {
    font-size: 20px;
    color: #FFF;
}

#game {
    display: flex;
    flex-direction: column;
}

.row1, .row2, .row3 {
    display: flex;
}

.top, .center {
    border-bottom: 1px solid black;
}

.left, .mid {
    border-right: 1px solid black;
}

.top, .center, .bottom {
    background-color: #e5e5e5;
    color: #fca311;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size:60px;
    width: 80px;
    height: 80px;
}

h3 {
    margin-top: 20px;
}

#reset{
    margin-top: 40px;
    margin-left: 30%;
}
#submit, button {
    background-color: purple;
    border:none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color:#FFF;
    cursor:pointer
}